doctype html

html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="../../nav.js" defer)
        script(src="article1.js")
        link(rel="stylesheet", href="../style.css")
        title G3 Article 1

    body 
        nav#navagation 
        h1#zerohunger

        main#ArticleMain
            p#p1
            p#p2
            p#p3
            p#p4
            p#p5

            p#p6

            section
                article.secArticle
                    h3#header1
                    p#para1
                    p#para2
                    img(src="zeroH1.avif", alt="hungry people holding hands out for grain")
                
                article.secArticle
                    h3#header2
                    p#para3
                    p#para4
                    img(src="ZeroH2.jpg", alt="People farming crops")
                
    
        footer Copyright © 2024 G3 Articles
            a(href="mailto:G3Queries@G3Group.com") Email us 

        
