doctype html

html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Meet our Team
        script(src="../../nav.js" defer)
        script(src="team.js" defer)
        link(rel="stylesheet", href="../style.css")

    body 
        nav#navagation 
        main#TeamMain