doctype html

html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="../javascript/nav.js" defer)
        script(src="../javascript/article3.js" defer)
        link(rel="stylesheet", href="../css/style.css")
        title G3 Article 3

    body 
        nav#navagation 
        h1#suscities

        main#ArticleMain3
            p#p1
            p#p2
            p#p3
            p#p4 
            h3#suswhy
            img(id="waterimg", src="../Assests/citites1.jpg", alt="" )

            section
                article.secArticle
                    h3#header1
                    p#para1
                    p#para2
                    img(src="../Assests/cities2.jpg", alt="dirty water glasses")
                
                article.secArticle
                    h3#header2
                    p#para3
                    p#para4
                    img(src="../Assests/cities3.webp", alt="people filling up containers with dirty water")
                
    
        footer Copyright © 2024 G3 Articles
            a(href="mailto:G3Queries@G3Group.com") Email us 

        
