doctype html

html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Meet our Team
        script(src="../javascript/nav.js" defer)
        script(src="4../javascript/index.js" defer)
        link(rel="stylesheet", href="../css/style.css")

    body 
        nav#navagation 
        h3#h3trend 

        main 
            article#secArticle
                h3#header1 
                p#para1
                a(id="click1", href="/app/public/html/Article1.html")
                img(src="../Assests/ZeroH2.jpg" alt="People farming crops")
            
            article#secArticle
                h3#header2
                p#para2
                a(id="click2", href="/app/public/html/Article2.html")
                img(src="../Assests/water1.png" alt="People farming crops")

            footer Copyright © 2024 G3 Articles
                a(href="mailto:G3Queries@G3Group.com") Email us 